<style>

    .articleCard {
        display: flex;
        gap: -2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.card-content {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--color-text-light));
    text-align: left !important;
    padding: 1rem 1rem;
    color: rgba(var(--color-text-dark));
    border-radius: 5px;
    width: 95%;
    height: 12rem;
    /*justify-content: center;*/
    gap: 16px;

    box-shadow: 0px 4px 10px 0px #0000001A;
    z-index: 1;
}



.card-author {
    color: rgba(var(--neutral-70));
}


</style>
{% if article and article != empty %}
    <a href="{{ article.url }}">
        <div class="articleCard" onmouseenter="onMouseEnter(`card-{{ article.id }}`)" onmouseleave="onMouseLeave(`card-{{ article.id }}`)">
            <img src="{{ article.image | img_url: '410x232' }}" alt="{{ article.image.alt }}">
            <div class="card-content" id="card-{{ article.id }}">
                <span class="tag">
                    <img src="" alt="">
                </span>
                <span class="header3">{{ article.title }}</span>
                <span class="header6 card-author">By {{ article.author }}</span>
            </div>
        </div>
    </a>
{% endif %}

<script lang="js">

    function onMouseEnter(cardID) {
        gsap.to(`#${cardID}`, {
            backgroundColor: "#176FC4",
            color: "#FFFFFF"
        })
    }

    function onMouseLeave(cardID) {
        gsap.to(`#${cardID}`, {
            backgroundColor: "#FFFFFF",
            color: "#311C1C"
        })

    }

</script>
