<style>
    .collection-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .flex-left {
        flex-direction: row;
    }
    .flex-right {
        flex-direction: row-reverse;
    }
    .content {
        width: 50%;
    }
    @media screen and (max-width: 720px) {
        .collection-card {
            flex-direction: column !important;
        }
        .content {
            width: 100%;
        }
        .image {
            width: 100%;
        }
    }

</style>


<section class="collection-card page-width {%  if section.settings.image-position == "right" %} flex-right {% else %} flex-left {% endif %} ">

    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'image' %}
                <div class="image">
                    <img class="image" src="{{ block.settings.image.src | img_url: '500x500' }}" alt="Collection Image">
                </div>
            {% when 'collection-content' %}
                <div class="content">
                    <h2 class="title">{{ block.settings.collection.title }}</h2>
                    <div>{{ block.settings.collection.description }}</div>
                    <span class="tertiary"><a href="{{ block.settings.collection.url }}">{{ block.settings.link-text }}</a></span>
                </div>
            {% when 'content' %}
            <div class="content">
                <h2 class="title">{{ block.settings.title }}</h2>
                <div>{{ block.settings.description }}</div>
                <span class="tertiary"><a href="{{ block.settings.url }}">{{ block.settings.url-title }}</a></span>
            </div>
        {% endcase %}
    {% endfor %}



</section>

{% schema %}
{
  "name": "Collection card",
  "tag": "section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "select",
      "id": "image-position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
         "value": "right",
          "label": "Right"
        }
      ]
    }
  ],

  "blocks": [
    {
      "name": "image",
      "type": "image",
      "limit":  1,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Collection content",
      "type": "collection-content",
      "limit":  1,
      "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
        {
          "type": "text",
          "id": "link-text",
          "label": "Title of link to collection"
        }
      ]
    },
    {
      "name": "Custom content",
      "type": "content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "description"
        },
        {
          "type": "text",
          "id": "url-title",
          "label": "Title for link"
        },
        {
          "type": "url",
          "id": "url",
          "label": "link"
        }
        ]
    }
  ],
  "presets": [
    {
      "name": "Collection Card",
      "settings": {
        "image-position": "right"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "collection-content"
        }
      ]
    }
    ]


}

{% endschema %}