{{ 'section-header2.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<style>
.expand {
    display: none;
}
.nav-element {
    display: flex;
    align-items: center;
    cursor: pointer;
}


</style>

<div class="headerWrapper shopify-section-header-sticky">
    <header>
        <nav>
            {% comment %}<div v-show="mobile" id="menuTrigger">{% endcomment %}
                {% comment %}<img ref="menuTrigger" @click="menu" src="@/assets/menu.svg" alt="menu trigger">{% endcomment %}
            {% comment %}</div>{% endcomment %}
            <div class="primary-links" >

                        {% for link in linklists.main-menu.links %}
                            <div>
                                <span class="element">

                                    {% if link.levels != 0 %}
                                        <span class="nav-element">
                                            {{ link.title | escape }}
                                            {% render 'icon-chev-expand' %}
                                        </span>

                                            <div class="expand">
                                             <ul class="expanded">
                                                 {% for child_link in link.links %}
                                                    <li>
                                                        <a href="{{ child_link.url }}">{{ child_link.title | escape }}</a>
                                                    </li>
                                                 {% endfor %}
                                             </ul>
                                        </div>
                                    {% else %}
                                        <a class="nav-element" href="{{ link.url }}">
                                            {{ link.title }}
                                        </a>
                                    {% endif %}

                                </span>

                            </div>
                {% endfor %}




            </div>
            <div class="logo">
                <a href="{{ routes.root_url }}">
                    <img src="https://cdn.shopify.com/s/files/1/0616/6151/1833/files/ES-Logo-TM.png?v=1658132910" loading="lazy" alt="logo">
                </a>
            </div>
            <div class="secondary-links">
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                    {%- liquid
                        if cart == empty
                            render 'icon-cart'
                        else
                            render 'icon-cart'
                        endif
                    -%}
                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                </a>

            </div>
        </nav>
    </header>
</div>


